.icon1 {
    color: var(--white);
    border-radius: 50%;
    box-shadow: 25px -25px 0 2px var(--black), -30px -25px 0 2px var(--black), -30px 20px 0 2px var(--black), 25px 20px 0 2px var(--black), 0px 0px 0 0 var(--white);
    padding: 20px 14px;
  }

  .icon1:hover{
    animation: circle 0.2s ease-in-out forwards;
    transition: animation 2s forwards;
    z-index: 1;
  }

  @keyframes circle {
    0% {
        box-shadow: 25px -25px 0 2px var(--black), -30px -25px 0 2px var(--black), -30px 20px 0 2px var(--black), 25px 20px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    25% {
        box-shadow: 0 -62px 0 2px var(--black), -30px -25px 0 2px var(--black), -30px 20px 0 2px var(--black), 25px 20px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    50% {
        box-shadow: 0 -62px 0 2px var(--black), -64px 0 0 2px var(--black), -30px 30px 0 2px var(--black), 25px 20px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    75% {
        box-shadow: 0 -62px 0 2px var(--black), -64px 0 0 2px var(--black), 0px 62px 0 2px var(--black), 25px 20px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    100% {
        box-shadow: 0 -62px 0 2px var(--black), -64px 0 0 2px var(--black), 0px 62px 0 2px var(--black), 64px 0px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    
  }


  
