.icon {
    color: var(--white);
    box-shadow: 25px -25px 0 2px var(--black), -30px -25px 0 2px var(--black), -30px 20px 0 2px var(--black), 25px 20px 0 2px var(--black), 0px 0px 0 0 var(--white);
    padding: 20px 14px;
    animation: square-out 0.2s ease-in-out forwards;
}

.icon1 {
    color: var(--white);
    box-shadow: 25px -25px 0 2px var(--black), -30px -25px 0 2px var(--black), -30px 20px 0 2px var(--black), 25px 20px 0 2px var(--black), 0px 0px 0 0 var(--white);
    padding: 20px 14px;
    animation: square-in 0.2s linear forwards;
  }

  @keyframes square-in {
    0% {
        box-shadow: 55px 0px 0 2px var(--black), -2px 0 0 2px var(--black), -55px -2px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    25% {
        box-shadow: 55px -69px 0 2px var(--trans), -2px 0 0 2px var(--black), -55px -2px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    50% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--black), -55px 0px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    75% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--black), -55px 66px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    100% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--trans), -55px 66px 0 2px var(--trans), 70px 60px 0 2px var(--trans), 0 0 0 2px var(--blue);
    }   
  }

  @keyframes square-out {
    0% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--black), -55px 66px 0 2px var(--black), 70px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
        
    }
    25% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--black), -55px 66px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
        
    }
    50% {
        box-shadow: 55px -69px 0 2px var(--trans), -70px 0 0 2px var(--black), -55px 0px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    75% {
        box-shadow: 55px -69px 0 2px var(--trans), -2px 0 0 2px var(--black), -55px -2px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }
    100% {
        box-shadow: 55px 0px 0 2px var(--black), -2px 0 0 2px var(--black), -55px -2px 0 2px var(--black), 0px 60px 0 2px var(--black), 0 0 0 2px var(--blue);
    }   
  }


  
